* {
  box-sizing: border-box;
  /* border: solid 1px black; */
}
:root {
  background-color: white;
}

body {
  height: 100vh;
  margin: 0;
  background-color: rgb(201, 209, 215);
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#js-calc {
 display: flex;
 flex-direction: column-reverse; 
 border: solid black 5px;
}

.display {
  background-color: black;
  display: flex;
  flex-direction: column;

}
.disp-up {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 300px;
  word-wrap: break-word;
  font-size: 1.2rem;
  color: rgb(244, 187, 112);
}
.disp-up, .disp-down {
  margin: 0;
  text-align: right;
  padding: 0 10px;
}

.disp-down {
  font-size: 1.5rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
}


#keypads {
  height: 400px;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  background-color: rgb(244, 187, 112);
  padding: 6px 6px 0 ;
  
}
#clear, #zero {
  width: 140px;
  height: 70px;
  grid-column: 1 / span 2;

}

.btn {
  color: rgb(244, 187, 112);
  background-color: #4e4f52;
  width: 70px;
  aspect-ratio: 1;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
}

.btn:hover {
  background-color: rgb(244, 187, 112);
  color: #4e4f52;

}
#zero, #equals {
  grid-row: 5;
}
#clear, #decimal, #divide {
  grid-row: 1;
}
#seven, #eight, #nine, #multiply {
  grid-row: 2;
}
#four, #five, #six, #subtract {
  grid-row: 3;
}
#add, #subtract, #multiply, #divide {
  grid-column: 4;
}
#equals {
  width: 140px;
  height: 70px;
font-size: 2rem;
grid-column: 3 / span 2;

}
#author {
  width: 60%;
  margin: 10px auto;
  text-align: center;
  font-weight: 600;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
